h1.campaign-title {
  text-align: center;
  padding: 20px;
  margin-top: 0;
  background: #353535;
  color: white;
}

.container {
  width: 600px;
  margin: 0 auto;

  p.goal {
    font-size: 1rem;
    float: right;
  }
}




