<h1 class="campaign-title" [textContent]="campaignName"> </h1>
<div class="container">
  <h3 class="total-raised">Total Raised: $ {{ totalRaised }}</h3>
  <p class="goal">Goal: $ <span [textContent]="donationSum"></span></p>
  <app-progress-bar
    [newDonation]="newDonation"
    [expected]="donationSum"
    [totalRaised]="totalRaised"
    [donationsStorage]="donationsStorage"
  ></app-progress-bar>

  <app-tree-map
    [newDonation]="newDonation"
    [expected]="donationSum"
    [totalRaised]="totalRaised"
    [donationsHistory]="getJSON()"
    [backgroundUrl]="backgroundUrl"
  >
  </app-tree-map>

  <app-add-donation
    (donationAdded)="onDonationAdded($event)"
  ></app-add-donation>
</div>
